# --- Güvenlik & Çevresel Değişkenler ---
.env
.env.*
*.pem
*.key

# --- Python & Sanal Ortamlar ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
venv_voidcrypto/
*.egg-info/
.ipynb_checkpoints/

# --- Veri & Modeller (Ağır Dosyalar) ---
data/
*.csv
*.parquet
*.json
*.log
logs/
temp/
tmp/

# Deep Learning Ağırlıkları
*.pt
*.pth
*.onnx
*.h5

# --- Dağıtık Sistemler & Konteynerlar ---
.azure/
.funcignore
.serverless/
*.rdb
*.aof
docker-compose.override.yml

# --- İşletim Sistemi & IDE ---
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.vscode/
.idea/
*.swp
*.swo