# Altyapı
aio-pika==9.4.1
aiohttp==3.9.3
redis==5.0.3
websockets==12.0
pydantic==2.6.4
pydantic-settings==2.2.1
prometheus-client==0.20.0

# Veri Analizi
pandas<2.2.0
numpy<1.26.0
# Doğrudan GitHub'dan yükleme (PyPI hatasını bypass eder)
https://github.com/twopirllc/pandas-ta/archive/refs/heads/development.zip

# ML ve İşlem
xgboost
scikit-learn
onnxruntime
torch --index-url https://download.pytorch.org/whl/cpu
transformers
ccxt
feedparser